<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <label for="nameOfBook">Введите название книги: </label>
    <input type="text" th:field="*{nameOfBook}" id="nameOfBook"/>
    <br/>
    <label for="author">Введите автора: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <br/>
    <label for="publishedYear">Введите год: </label>
    <input type="text" th:field="*{publishedYear}" id="publishedYear"/>
    <br/>
    <input type="submit" value="Редактировать"/>
</form>

</body>
</html>